body{
 
  
  background-image: linear-gradient(hsl(192, 90%, 51%), hsla(66, 100%, 49%, 0.589));
  background-repeat: no-repeat;
  background-size: 100% 800px; 
  background-color: hsla(66, 100%, 49%, 0.76);
}
.App {
  padding-top: 50px;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid lightgrey;
  border-radius: 4px;

}
@media only screen and (max-width:600px){
  .App {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input{
    width: 90%;
  }
}